* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: italic; 
}

body {
  font-family: "Montserrat", sans-serif;
  background: #F3E9D2;
  color: #4A3F35;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1.5rem;
}

.section {
  padding: 5rem 0;
}

.dark {
  background: #E6D8B5;
}

.section-title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.header {
  position: sticky;
  top: 0;
  background: #E6D8B5;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.profile-text p{
    padding-block: 20px;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  font-weight: 700;
  letter-spacing: 1px;
}

.nav a {
  margin-left: 1.5rem;
  font-weight: 500;
  transition: 0.3s;
}

.nav a:hover {
  color: #A67C52;
}

.btn-primary {
  background: #C19A6B;
  padding: 0.6rem 1.4rem;
  border-radius: 999px;
  color: white;
  font-weight: 600;
  transition: 0.3s;
  margin-top: 20px;
}

.btn-primary:hover {
  background: #A67C52;
}

.btn-outline {
  border: 1px solid #C19A6B;
  padding: 0.5rem 1.2rem;
  border-radius: 999px;
  color: #C19A6B;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.btn-outline:hover {
  background: #C19A6B;
  color: white;
}

.profile {
  display: flex;
  align-items: center;
  min-height: 90vh;
  gap: 3rem;
}

.porfile-text h1 {
  font-size: 2.8rem;
}

.pofile-text h2 {
  font-size: 1.6rem;
  color: #A67C52;
}

.profile-img img {
  width: 280px;
  border-radius: 50%;
  border: 6px solid #C19A6B;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.card, .project-card {
  background: #E6D8B5;
  padding: 2.2rem;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  transition: 0.3s;
}

.card:hover, .project-card:hover {
  transform: translateY(-6px);
}

.card span {
  display: block;
  margin-top: 0.5rem;
  color: #A67C52;
  font-weight: 600;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  border-radius: 10px;
  border: 1px solid #C19A6B;
  background: #FFF7E6;
  color: #4A3F35;
  font-style: italic;
}

.footer {
  text-align: center;
  padding: 1.5rem;
  background: #E6D8B5;
  font-size: 0.9rem;
}
